<div class="messages-page">
  <!-- Left panel: All messages -->
  <div class="messages-sidebar">
    <div *ngFor="let message of messageInfos" class="message-item" (click)="selectUser(message.userId)">
      <img [src]="message?.userProfilePicture" alt="User Profile Picture" class="profile-image" />
      <div class="sidbar-header">
        <div class="profile-name">{{ message?.userFirstName }} {{ message?.userLastName }}
        </div>
      <div class="message-text">{{ message.messageText }}</div>
    </div>
    </div>
  </div>

  <!-- Right panel: Chat with selected user -->
  <div class="messages-chat">
    <div *ngIf="userMessages" class="messages-chat-wrapper">
      <div class="chat-header">
        <div class="chat-personal-info" >
          <img [src]="userMessages.profilePicture" alt="User Profile Picture" class="profile-image" [routerLink]="['/profiles', otherUserId]"/>
          <div class="user-info">
            <a class="nav-link profile-name" [routerLink]="['/profiles', otherUserId]">{{ userMessages.firstName }} {{ userMessages.lastName }}</a>
          </div>
        </div>
        <button *ngIf="userMessages.messages.length > 0 && !userMessages.visitAgreedByCurrentUser" (click)="arrangeVisit()">Arrange Visit</button>
        <div *ngIf="userMessages.visitAgreedByCurrentUser && userMessages.visitAgreedByOtherUser">
          Visit arranged
        </div>
        <div *ngIf="userMessages.visitAgreedByCurrentUser && !userMessages.visitAgreedByOtherUser">
          Waiting for {{ userMessages.firstName }} {{ userMessages.lastName }} to agree
        </div>
      </div>
      <div class="chat">
        <!-- Chat Messages -->
        <div class="chat-messages">
          <div *ngFor="let message of userMessages.messages" 
               class="chat-message" 
               [ngClass]="{'sent': message.isSentByCurrentUser, 'received': !message.isSentByCurrentUser}">
               <span class="message-time">{{ message.sentOn | date: 'short' }}</span>
            <span class="message-text">{{ message.messageText }}</span>
          </div>
        </div>     
    
        <!-- Message Input --><div class="chat-input">
        <input 
          type="text" 
          [(ngModel)]="newMessage" 
          placeholder="Type a message..." 
          (keydown.enter)="sendMessage()"
        />
        <button (click)="sendMessage()">Send</button>
      </div>

      </div>
    </div>
  </div>
  
</div>
